* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#board {
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell > p {
    font-size: 2rem;    
}

.hidden {
    visibility: hidden;
}